{
  "rules": {
    "react/react-in-jsx-scope": "off"
  },
  "env": {
    "browser": true,
    "es2021": true,
    "jest": false
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ]
}
